[mysqld]
# CORREGIDO: Se eliminó NO_AUTO_CREATE_USER para evitar que MariaDB 10.11 truene al iniciar
sql_mode=NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_VALUE_ON_ZERO

# Rendimiento y Paquetes
max_allowed_packet=512M
wait_timeout=28800
net_read_timeout=600
net_write_timeout=600

# Optimización de Memoria (Excelente para bases de datos grandes)
innodb_buffer_pool_size=4G
innodb_log_file_size=512M
