# ── Configuración de Contenedores ──────────────────────────────────────────────
PHP_CONTAINER=name_app
NGINX_CONTAINER=name_nginx
MARIADB_CONTAINER=name_db
REDIS_CONTAINER=name_redis

# ── Base de datos ──────────────────────────────────────────────────────────────
DB_DATABASE=name
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root_password

# ── Redis ──────────────────────────────────────────────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ── Red ──────────────────────────────────────────────────────────────────────
DOCKER_NETWORK_NAME=name_app_network

# ── Puertos Externos  ──────────────────────────────────────────────────────────
NGINX_PORT=80
MARIADB_PORT=3306